body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size:   75%;
  width:       200px;
  overflow:    hidden;
  background: -webkit-linear-gradient(top, #eaeaea 0%,#7d7d7d 100%);
  background: -moz-linear-gradient(top, #eaeaea 0%, #7d7d7d 100%);
  background: -o-linear-gradient(top, #eaeaea 0%,#7d7d7d 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%,#7d7d7d 100%);
  background: linear-gradient(to bottom, #eaeaea 0%,#7d7d7d 100%);
}

p {
 cursor: default;
 margin: 0px;
}

span {
  color:  blue;
  cursor: pointer;
}

p, span {
 -webkit-user-select: none;
 -moz-user-select:    none;
 -ms-user-select:     none;
 user-select:         none;
}
